table{
    text-align: left;
    color: blueviolet;
    
    border-collapse: collapse;
}

table th, table td{
    border: 1px solid blueviolet;
    padding: 10px;
    min-width: 160pxs;
}
img{
    height: 100px;
    width: 100px;
}

.adjust-update-icon{
    margin-left: 10px;
}