<div style="width: 1440px; height: 1024px; position: relative; background: white">
    <div style="width: 1440px; height: 1024px; left: 0px; top: 0px; position: absolute; background: #F8E9E9"></div>
    <div style="width: 1440px; height: 132px; left: 0px; top: 0px; position: absolute; background: rgba(80, 224, 85, 0.8); box-shadow: 4px 4px 4px; border: 1px rgba(92.39, 170.13, 241.90, 0.85) solid; filter: blur(4px)"></div>
    <div style="width: 161px; left: 614px; top: 49px; position: absolute; text-align: center; color: #F4290D; font-size: 57px; font-family: Roboto; font-weight: 400; line-height: 64px; word-wrap: break-word">Home</div>
    <div style="width: 161px; left: 824px; top: 49px; position: absolute; text-align: center; color: #F4290D; font-size: 57px; font-family: Roboto; font-weight: 400; line-height: 64px; word-wrap: break-word">User</div>
    <div style="width: 161px; left: 1035px; top: 49px; position: absolute; text-align: center; color: #F4290D; font-size: 57px; font-family: Roboto; font-weight: 400; line-height: 64px; word-wrap: break-word">Login</div>
    <div style="width: 161px; left: 1246px; top: 49px; position: absolute; text-align: center; color: #F4290D; font-size: 57px; font-family: Roboto; font-weight: 400; line-height: 64px; word-wrap: break-word">News</div>
    <div style="width: 290px; height: 793px; left: 0px; top: 132px; position: absolute; background: #6369F6"></div>
    <div style="width: 1440px; height: 103px; left: 0px; top: 921px; position: absolute; background: #FFFCFC"></div>
    <div style="left: 506px; top: 929px; position: absolute; text-align: center; color: black; font-size: 57px; font-family: Roboto; font-weight: 400; line-height: 64px; word-wrap: break-word">footer</div>
    <div style="width: 1150px; height: 108px; left: 290px; top: 132px; position: absolute; background: #FFFDFD"></div>
    <div style="width: 204px; height: 82px; padding: 12px; left: 1078px; top: 145px; position: absolute; background: #2C2C2C; border-radius: 8px; overflow: hidden; border: 1px #2C2C2C solid; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
      <!-- <div style="color: #F5F5F5; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 16px; word-wrap: break-word">Button</div> -->
    </div>
    <div style="width: 286px; height: 100px; padding-left: 2px; padding-right: 2px; left: 717px; top: 140px; position: absolute; background: #FFFBFB; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); flex-direction: column; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
      <div style="align-self: stretch; color: #FF2D55; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 22.40px; word-wrap: break-word">Enter Meter No.</div>
      <div style="align-self: stretch; padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; background: white; border-radius: 8px; overflow: hidden; border: 1px #757575 solid; justify-content: flex-start; align-items: center; display: inline-flex">
        <div style="flex: 1 1 0"></div>
      </div>
    </div>
    <div style="padding: 12px; left: 682px; top: 492px; position: absolute; background: #2C2C2C; border-radius: 8px; overflow: hidden; border: 1px #2C2C2C solid; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
      <!-- <div style="color: #F5F5F5; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 16px; word-wrap: break-word">Button</div> -->
      <button style="color: #cb1111; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 16px; word-wrap: break-word">Search</button>
    </div>
    <div style="width: 1150px; height: 679px; left: 290px; top: 242px; position: absolute; background: #BFDDF2"></div>
    <div style="width: 1503px; height: 867px; padding-left: 187.88px; padding-right: 187.88px; padding-top: 108.38px; padding-bottom: 108.38px; left: 113px; top: 157px; position: absolute; mix-blend-mode: darken; justify-content: center; align-items: center; display: inline-flex">
      <div style="width: 1127.25px; height: 650.25px; border: 4px #1E1E1E solid"></div>
    </div>
  </div>
